.homepage {
  margin: 0 auto;
  max-width: 800px;
  white-space: pre-line;

  .home-announcements {
    border: 1px solid palevioletred;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 800px;
    position: relative;
    word-break: break-all;
    overflow-wrap: break-word ;
    background:white;
  }

  .title {
    padding-left: 10px;
  }

  .icon-blog {
    position: absolute;
    right: 0;
  }

  .icon {
    padding: 5px;
  }

}
