.homepage {
  margin: 0 auto;
  max-width: 800px;
  white-space: pre-line;

  .home-announcements {
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 800px;
    position: relative;
    word-break: break-all;
    overflow-wrap: break-word ;
    background:white;
  }

  .icon-block {
  margin: 0 5px 5px 0;
  }

  .icon {
    background: black;
    border-color: black;
    padding: 5px;
  }

}
