.edit-form {
  margin: 200px auto;
  background: #b7b7b7;
  width: 500px;
  border: 1px solid black;
  padding: 10px;

  .edit-button {
    margin: 10px auto;
    width: 200px;
    display: block;
  }
  .error{
    color:red;
    font-size: 14px;
  }
  input, textarea {
    width: 100%;
  }
  textarea{
    resize: none;
    height: 200px;
  }
}
