.edit-form {
  margin: 200px auto;
  background: aqua;
  width: 500px;
  border: 1px solid darkcyan;
  padding: 10px;

  .edit-button {
    margin: 10px auto;
    width: 200px;
    display: block;
  }

  input, textarea {
    width: 100%;
  }
  textarea{
    resize: none;
    height: 200px;
  }
}
