.announcements {
  max-width: 900px;
  margin: 5px auto;
  padding: 5px;

  .container {
    border: 1px solid black;
    border-radius: 30px;
    width: 900px;
    position: relative;
    padding: 10px;
    margin: 5px 0;
    max-height: 250px;
    word-break: break-all;
    overflow-wrap: break-word;
    overflow: hidden;
    background: white;
  }

  .icon-block {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;

  }

  .icon {
    background: black;
    border-color: black;
    margin: 0 5px;
  }
}
