.announcements {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 5px auto;
  padding: 5px;

  .container {
    border: 1px solid plum;
    border-radius: 30px;
    width: 900px;
    position: relative;
    padding: 10px;
    margin: 5px 0;
    max-height: 300px;
    word-break: break-all;
    overflow-wrap: break-word ;
  }


  .edit {
    top: calc(40% - 20px);
    border: 1px solid orchid;
    border-radius: 100%;
    padding: 10px;
    color: black
  }

  .delete {
    top: calc(80% - 20px);
    border-radius: 100%;

  }

  .icon-block{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;

  }
  .icon{
    margin: 0 5px;
  }
}
